body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #dcdcdc;
}

h2 {
    color: #639;
    text-align: center;
}

table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
}

thead {
    background-color: plum;
}

td {
    border-top: 1px solid darkorchid;
}

.code {
    background-color: beige;
    font-family: monospace;
}


